{
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "parser": "flow"
      }
    },
    {
        "files": "*.tsx",
        "options": {
          "parser": "flow"
        }
      }
  ]

}
