{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "quoteProps": "consistent",
  "printWidth": 70,
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "parser": "flow"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "flow"
      }
    }
  ]
}
